{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol class="py-1">
        {{#each posts as |post|}}
        <li class="card p-2">
            <a href="/dashboard/edit/{{post.id}}">{{> post-info post}}</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<section>
    <h2>Create New Post</h2>

    <form class="new-post-form px-4">
        <div>
            <label class="form-label" for="post-title">Title</label>
            <input class="form-control" type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label class="form-label" for="post-url">Content:</label>
            <textarea class="form-control" id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/js/add-post.js"></script>